*, *:after, *:before {
  box-sizing: border-box;
}

ul {
  width: 100%;
  list-style-type: none;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

input {
  width: 15rem;
  height: 3rem;
  font-size: 2rem;
}


.App {
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container{
  width: 15rem;
  height: 100vh;
  padding: 5px;
}

.cardTitle{
  padding: 15px;
  border-bottom: 1px solid lightgray;
}

.cardText{
  padding: 15px;
}